*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.nav{
    height: 80px;
    display: flex;
    justify-content: right;
    background-color: #1c1d21;
    padding-right: 10px;
}
nav{
    float: right;
    border: solid white;

}
nav ul{
    margin:0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 20px;
    padding-top: 40px;

}

nav a{
    color: white;
    text-decoration: none;

}

nav a:hover{
    color: #75e6da;
}

.container{
   background: #1c1d21;
}

.main-container{
    display: flex;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    z-index: 1;
    max-width: 200rem;
    padding: 0 70px;
    border: solid blue;
    
}
.content{
    border: solid green; 
}
.content h1{
    color:white;
    font-size: 3rem;
    margin-bottom: 15px;

}
.content p{
    color:#8892B0;
    font-size: 2rem;
    margin-bottom: 15px;
}

.main-img{
    text-align: center;
    border: solid red;
    margin-left: 10%;

}

#main-pic{
    width: 100%;
}

button{
    border-radius: 6px;
    width: 200px;
    height: 50px;
    background: transparent;
    border: solid #75e6da ;
    color: #75e6da;
    font-size: 1.2rem;

}

button:hover{
    transform: scale(1.2);
    transition: scale(1.2);
}

@media screen and (max-width: 768px){
    .main-container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;

    }

    .content{
        text-align: center;
        margin-bottom: 4rem;

    }

    .content h1{
        font-size: 2.5rem;
        margin-top: 2rem;

    }

    .content p{
        font-size: 1.2rem;
        margin-top: 1rem;
    }
}

.about{
    background: #1c1d21;
}

.about-container{
    display: flex;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    height: 70vh;
    z-index: 1;
    max-width: 200rem;
    padding: 0 70px;
    border: solid teal;

    
}

.about-content{
    border: solid purple;
    width: 50%;
    margin-top: 10rem;
    margin-left: 5rem;
    
}

.about-content h1{
    color: #75e6da;
    font-size: 2.5rem; 
}

.about-content p{
    color: #8892B0;
    font-size: 1.2rem;
    margin-top: 25px;
}

.about-img{
    background-image: url("/portfolio/pictures/Ryan.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-left: 300px;
    margin-top: 200px;
    background-color: #75e6da;
}

@media screen and(max-width: 1600px){
    .about-img{
        width: 300px;
    }
}

@media screen and (max-width: 768px){
    .about-container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;

    }
    .about-content{
        padding-right: 50px;
        width: 50%;
    }

    .about-content h1{
        font-size: 2rem;
    }
    
    .about-content p{
        font-size: 1rem;
    }
    .about-img{
        position: relative;
        transform: translateX(-75%);
        width: 300px;
    }
}

.projects{
    background: #1c1d21;
}

.projects-container{
    display:flex;
    height: 50vh;
    justify-content: center;
}

.heading h1{
    color:#75e6da;
    margin-top: 4rem;
    transform: translateX(127px);
}

.project{
    display: grid;
    max-width: 0 auto;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.project1{
    border: solid red;
    width: 250px;
    height: 250px;
    background-color: white;
}

.project2{
    border: solid blue;
    width: 250px;
    height: 250px;
    background-color: white;
}

.project3{
    border: solid green;
    width: 250px;
    height: 250px;
    background-color: white;
}


@media (min-width: 600px){
    .project {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 800px){
    .projects-container{
        display:grid;
        grid-template-columns: auto;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }
    
    .heading h1{
        transform: translateX(5px);
    }
}