body {
    width:100%;
    margin:0;
    background-color: #1c1d21;
    font-family: serif sans-serif;
    overflow: scroll;
}

.nav{
    width: 80%;
    margin: 0 auto;
    margin-right: 20px;
}
nav{
    float: right;
    border: solid white;

}
nav ul{
    margin:0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 20px;
    padding-top: 40px;

}

nav a{
    color: white;
    text-decoration: none;

}

nav a:hover{
    color: #75e6da;
}

.container{
    display: flex;
    position: absolute;
    border: solid white;
    align-items: center;
    justify-content: space-between;
    -webkit-transform: translate(-50%, -50%);
    width: clamp(400px, 100%, 1000px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content{
    border: solid red;
    transform: translateX(5%);
}
.content h1{
    color: white;
    font-size: 40px;
}

.content p{
    color: #8893b0;
    font-size: 30px;
    
}
.b button{
    border: 2px solid #75e6da;
    border-radius: 7px;
    background-color: transparent;
    color: #75e6da;
    height: 40px;
    width: 120px;

}

.b button:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
 
}

.about{
    display: flex;
    border: solid white;
    width: clamp(800px, 100%, 1000px);
    height: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 115%;
}

.top-text{
    border: solid red;
}

.top-text h1{
    color: #75e6da;
    margin-left: 55px;
    margin-bottom: -10px;
    font-size: 35px;

}

.top-text p{
    color: white;
    margin-left: 50px;
    margin-bottom: 35px;
    font-size: 20px;
}


.picture{
    background-image: url("/portfolio/pictures/Ryan.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    width: 200px;
    height:200px;
    border: solid green;
    
}

.about-text{
    display: flex;
    position: relative;
    border: solid blue;
    width: clamp(200px, 100%, 500px);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 30%;
    margin: 0 auto;



}

.about-text p{
    color:white;
    font-size: 20px;
    position: absolute;
    top: 30%;
    line-height: 1.5;

}