<!DOCTYPE html>
<html>
    <head>
       <link href="/portfolio/static/home.css" rel="stylesheet" type="text/css">
       <meta charset="UTF-8">
       <title>Home</title>
    </head>
    
    <body>
        <header>
            <div class="nav">
                <nav>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Contact</a></li>
                    
                </nav>
            </div>
        </header>
        <div class="container">
            <div class="home" id="home">
                <div class="main-text">
                    <h1>Hi, my name is Ryan, Front end & Back end Developer</h1>
                    <p>I'm a creative that uses coffee addiction to solve problems</p>
                    <div class="b">
                        <button type="button">See my work</button>
                    </div> 
                </div>
            </div>
    
            <div class="about" id="second-page">
                <div class="top-text">
                    <h1>About</h1>
                    <p>Who is Ryan?</p>
                </div>

                <div class="picture">
                </div>
            </div>
    
            <div id="projects">
    
            </div>
    
            <div id="contact">
    
            </div>
        </div>

    </body>
</html>