<!DOCTYPE html>
<html>
    <head>
       <link href="/portfolio/static/home.css" rel="stylesheet" type="text/css">
       <meta charset="UTF-8">
       <meta name="viewport"
       content="width=decive-width,
       initial-scale=1.0">
       <title>Home</title>
    </head>
    
    <body>
        <header>
            <div class="nav">
                <nav>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Contact</a></li>
                    
                </nav>
            </div>
        </header>
        <div class="container">
            <div class="main-container">
                <div class="content">
                    <h1>Hi, my name is Ryan, Front end & Back end Developer</h1>
                    <p>I'm a creative that uses coffee addiction to solve problems</p>
                    <button type="button">See my work</button>
                </div>

                <div class="main-img">
                    <img src="/portfolio/pictures/pic1.svg" alt="pic" id="main-pic"/>
                </div>
            </div>
        </div>
    
            <div class="about" id="second-page">
                <div class="about-container">
                    <div class="about-content">
                        <h1>About Me</h1>
                        <p>dsajlkfdsalkjfdjsafjdsal;kfjerwiuoqrpewq
                            rewqqrjewlk;jrlkewq;jrlkewqjrklejwqre
                            wqqrewjklrjweqrl;kejwqqrkl;jewqlk;rjewqklr
                            ewqrewq
                            rjkelwqjflkdsajglkfdajhgiuorewhtujioewqujr
                            ewfjkldasjflkdsa;jfklds;ajfkldsajflk;dsajfldas
                        </p>  

                    </div>
                    <div class="about-img">
                    </div>
                </div>
            </div>
            <div class="projects">
                <div class="projects-container">
                        <div class="heading">
                            <h1>Projects</h1>
                        </div>
                        <div class="project">
                            <div class="project1"></div>
                            <div class="project2"></div>
                            <div class="project3"></div>    
                        </div>
            </div>
    
            <div id="contact">
    
            </div>
        </div>

    </body>
</html>